################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BRE.Core/obj
/BRE.Core/bin/Debug/netcoreapp3.1
/BRE.UnitTest/BRE.UnitTest/obj
/BRE.UnitTest/BRE.UnitTest/bin/Debug/netcoreapp3.1
