################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BRE.Core/obj
/BRE.Core/bin/Debug/netcoreapp3.1
/BRE.UnitTest/BRE.UnitTest/obj
/BRE.UnitTest/BRE.UnitTest/bin/Debug/netcoreapp3.1
/Documents/~$T [Given when Then].docx
/Documents/~$T [Given when Then].docx
/Documents/~$Rules.docx
/.vs/BRE_Solution/v16/TestStore/0/000.testlog
/.vs/BRE_Solution/v16/TestStore/0/testlog.manifest
/.vs/BRE_Solution/v16/TestStore/0/001.testlog
/.vs/BRE_Solution/v16/TestStore/0/004.testlog
/.vs/BRE_Solution/v16/TestStore/0/005.testlog
